.container {
  max-width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.container .header {
  width: 100%;
  height: 820px;
  background-image: url(assets/1b-bg.png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.container .header_logo {
  width: 362px;
  height: 120px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 20px;
}

.container .header_logo h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 26px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.container .header_logo p {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
}

.container .header_search {
  width: 653px;
  height: 63px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .header_search-input {
  width: 503px;
  height: 63px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.8px;
  color: #999999;
  word-spacing: 10px;
}

.container .header_search-button {
  width: 150px;
  height: 63px;
  background: #5474FD;
  border: 2px solid #FFFFFF;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 2%;
}

.container .header_search-button:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  cursor: pointer;
}

.container .header_arrow {
  font-size: 25px;
  background-color: transparent;
  border: none;
  margin-top: 150px;
}

.container .header_arrow a {
  color: white;
}

.container .header_arrow:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer;
}

.container .nav {
  width: 100%;
  height: 83px;
  background: #5474FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .nav_logo {
  width: 190px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .nav_bar {
  width: 700px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .nav_bar ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .nav_bar ul li {
  float: left;
}

.container .nav_bar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.container .nav_bar ul li a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-shadow: 2px 1px rgba(84, 19, 214, 0.445);
}

.container .us {
  width: 100%;
  height: 685px;
  background-image: url(assets/2b-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .us_text {
  width: 560px;
  height: 300px;
  margin-right: 10%;
  margin-left: 10px;
}

.container .us_text h3 {
  font-family: Aleo;
  font-size: 36px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.container .us_text p {
  font-family: Josefin Sans;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1.6px;
  color: #E8E8E8;
}

.container .us_text button {
  background: #5474FD;
  width: 228px;
  height: 63px;
  font-family: Aleo;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  border-radius: 2%;
}

.container .us_text button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container .us_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 400px;
  height: 500px;
}

.container .us_images-first {
  width: 350px;
  height: 220px;
}

.container .us_images-second {
  width: 350px;
  height: 220px;
  margin-left: 50px;
}

.container .graph {
  width: 100%;
  height: 340px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .graph_line {
  width: 777px;
  height: 95px;
}

.container .graph_icons {
  width: 1050px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .graph_icons .item {
  width: 250px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .spain {
  width: 100%;
  height: 700px;
  background-image: url(assets/3b-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container .spain .grand_spain {
  position: absolute;
  top: 35%;
  left: 12%;
  width: 543px;
  height: 350px;
  background: #232323;
  opacity: 0.9;
  color: #E8E8E8;
  font-family: Josefin Sans;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  padding: 20px;
}

.container .spain .grand_spain h3 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.5px;
}

.container .spain .grand_spain h2 {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.container .spain .grand_spain p {
  font-size: 16px;
  line-height: 26px;
  color: #E8E8E8;
}

.container .spain .grand_spain button {
  width: 228px;
  height: 63px;
  background: #5474FD;
  color: white;
  text-transform: uppercase;
}

.container .spain .grand_spain button:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  cursor: pointer;
}

.container .spain2 {
  width: 100%;
  height: 700px;
  background-image: url(assets/4b-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container .spain2 .grand_spain {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 543px;
  height: 350px;
  background: #232323;
  opacity: 0.9;
  color: #E8E8E8;
  font-family: Josefin Sans;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  padding: 20px;
}

.container .spain2 .grand_spain h3 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.5px;
}

.container .spain2 .grand_spain h2 {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.container .spain2 .grand_spain p {
  font-size: 16px;
  line-height: 26px;
  color: #E8E8E8;
}

.container .spain2 .grand_spain button {
  width: 228px;
  height: 63px;
  background: #5473fd;
  color: white;
  text-transform: uppercase;
}

.container .spain2 .grand_spain button:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  cursor: pointer;
}

.container .tourist {
  width: 100%;
  height: 731px;
  background-image: url(assets/5b-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .tourist_title {
  color: white;
  width: 390px;
  height: 80px;
  font-family: Aleo;
  font-size: 36px;
  line-height: 26px;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  text-align: center;
  padding-bottom: 40px;
}

.container .tourist_main {
  width: 75%;
  height: 287px;
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .tourist_main_img {
  width: 445px;
  height: 284px;
}

.container .tourist_main_text {
  padding-left: 20px;
  font-family: Josefin Sans;
  font-size: 20px;
  line-height: 26px;
  color: #FEFEFE;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.container .footer {
  background: #232323;
  width: 100%;
  height: 271px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .footer_text {
  width: 180px;
  height: 100px;
  color: white;
  text-align: center;
  font-family: Josefin Sans;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.container .footer_text h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 3.36px;
  color: #FFFFFF;
}

.container .footer_text p {
  font-size: 10px;
  line-height: 26px;
  letter-spacing: 4px;
}

.container .footer_icons {
  width: 170px;
  height: 40px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .footer_icons .icon {
  color: white;
}

.container .footer_icons .icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer;
}

.container .footer_icons .blue {
  color: #5474FD;
}

@media only screen and (max-width: 400px) {
  .container {
    width: 400px;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */